/****SLICK SLIDER****/

.slick-dotted {
    .slick-dots{
        padding-left: 0;
    }
    ul {
        list-style-type: none;
        text-align: center;
        position: relative;
        margin-top: 10px;

        li {
            display: inline-block;
            margin: 0 7px;

            button {
                font-size: 0;
                width: 16px;
                height: 16px;
                border-radius: 50%;
                color: #d8d8d8;
                border-width: 0;
                background: #d8d8d8;
                opacity: 1;
                cursor: pointer;

                &:focus {
                    outline: 0;
                }
            }

            .slick-active button {
                background: #0c3f8a;
                color: #0c3f8a;
            }

            .slick-slide:focus {
                outline: none;
            }
        }


    }


}


/**END SLICK**/